@model IEnumerable<GameStore.Client.Models.ArchiveGameViewModel>

@foreach (var item in Model)
{
    <li class="list-group-item p-0">
        <div class="d-flex text-decoration-none" href="/Games/Details/@item.Id">
            <img class="col-2 h-100 p-2" src="@item.Image" />
            <div class="p-2">
                <h4>@item.Name</h4>
                <p>
                    <strong>Genre: </strong>@item.Genre
                    <strong>Year: </strong>@item.Year
                    <strong>Developer: </strong>@item.Developer
                </p>
            </div>
        </div>
        <div class="p-2 d-flex justify-content-end">
            <button data-gs-recover-btn data-target-id="@item.Id" class="btn btn-outline-primary">Recover</button>
            <button data-gs-delete-btn data-target-id="@item.Id" class="btn btn-outline-danger ml-2">Delete</button>
        </div>
    </li>
 }